<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
	<bindings>
		<basicHttpBinding>
			<binding name="WcfServiceLibrary1.Service1" />
		</basicHttpBinding>
	</bindings>
	<client>
		<endpoint address="http://localhost:8733/Design_Time_Addresses/MathsOperations/Service1/"
		binding="basicHttpBinding" bindingConfiguration="WcfServiceLibrary1.Service1"
		contract="WcfServiceLibrary1.IService1" name="SoapEnd1" />
		<endpoint address="http://localhost:8734/Design_Time_Addresses/MathsOperations/Service1/"
		binding="basicHttpBinding" bindingConfiguration="WcfServiceLibrary1.Service1"
		contract="WcfServiceLibrary1.IService1" name="SoapEnd2" />
	</client>
    <services>
      <service name="WcfServiceLibrary1.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- À moins qu'elle ne soit complète, l'adresse est relative à l'adresse de base fournie ci-dessus -->
		  <endpoint name="SoapEnd1" address="http://localhost:8734/Design_Time_Addresses/MathsOperations/Service1/"
		  binding="basicHttpBinding"
		  contract="WcfServiceLibrary1.IService1">
		  </endpoint>
		  <endpoint name="SoapEnd2" address="http://localhost:8736/Design_Time_Addresses/MathsOperations/Service1/" binding="basicHttpBinding" contract="WcfServiceLibrary1.IService1"></endpoint>
		  <endpoint name="MexEndPnt" address="http://localhost:8735/Design_Time_Addresses/MathsOperations/Service1/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!-- Metadata Endpoints -->
        <!-- Le point de terminaison de l'échange de métadonnées est utilisé par le service pour se décrire aux clients. --> 
        <!-- Ce point de terminaison n'utilise pas de liaison sécurisée et doit être sécurisé ou supprimé avant le déploiement -->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
