<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="servicebehavior" name="Server.Services">
        <endpoint address="soap" binding="basicHttpBinding" name="SOAPEndPoint"
          contract="Server.IServiceSOAP" />
        <endpoint address="rest" behaviorConfiguration="restbehavior"
          binding="webHttpBinding" name="RESTEndPoint" contract="Server.IServiceREST" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Server/Services/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="servicebehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
		<endpointBehaviors>
			<behavior name="restbehavior">
				<webHttp/>
			</behavior>
		</endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
